@import "tailwindcss";


:root {

  --background:
    #F8F6F2;

  --foreground:
    #111111;

  --accent:
    #A68A64;

  --border:
    #EAE6DF;

}


* {
  box-sizing: border-box;
}


html {

  scroll-behavior:
  smooth;

}


body {

  background:
  var(--background);

  color:
  var(--foreground);

  font-family:
  var(--font-inter),
  sans-serif;

}


h1,
h2,
h3,
h4 {

  font-family:
  var(--font-cormorant),
  serif;

  font-weight:
  400;

}


.serif {

  font-family:
  var(--font-instrument),
  serif;

}


::selection {

  background:
  var(--accent);

  color:
  white;

}


.container-luxury {

  width:
  min(90%,1400px);

  margin-inline:auto;

}

